{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
    <link href="{% static '/base/css/url.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/base/css/media.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/base/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    
    
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <p class="h1">Строительство бассейнов,фонтанов,бань,СПА и хаммамов</p>
            <span>
                <ul>
                <li>От проекта до реализации под ключ;</li>
                <li>Реализуем проект любой сложности;</li>
                <li>С соблюдением всех сроков;</li>
                <li>По доступной цене.</li></ul>
            </span>
        </div>
    </div>
    
    
    <div class="container p-4">
        <div class="row justify-content-center">   
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 text-center">
                <div>
                    <img class="rounded-circle homepage" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
                </div>
                <div class="p-3">
                    <a class="btn btn-secondary" href="#" role="button">Фонтаны</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 text-center">
                <div>
                    <img class="rounded-circle homepage" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
                </div>
                <div class="p-3">
                    <a class="btn btn-secondary" href="#" role="button">Бассейны</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-8 text-center">
                <div>
                    <img class="rounded-circle homepage" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
                </div>
                <div class="p-3">
                    <a class="btn btn-secondary" href="#" role="button">Бани</a>
                </div> 
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 text-center">
                <div>
                    <img class="rounded-circle homepage" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
                </div>
                <div class="p-3">
                    <a class="btn btn-secondary" href="#" role="button">СПА</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 text-center">
                <div>
                    <img class="rounded-circle homepage" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
                </div>
                <div class="p-3">
                    <a class="btn btn-secondary" href="#" role="button">Хаммамы</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 text-center">
                <div>
                    <img class="rounded-circle homepage" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">
                </div>
                <div class="p-3">
                    <a class="btn btn-secondary btn" href="#" role="button">Автополив</a>
                </div>
            </div>   
        </div>
    </div>
{% endblock content %}