<!DOCTYPE html>
<html>
   	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% load staticfiles %}
		<link href="{% static '/base/css/url.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>My Project</title>
    </head>
    <body>
        <header>
			<div class="container p-2">
				<div class="row">
					<div class="col-lg align-self-center">
						<div class="d-none d-lg-block">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
							<a class="h2">Акватория-05</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-8 col-sm-7 offset-lg-2 offset-md-0 offset-sm-0 offset-3 align-self-center">
						<div class="">
							<a href = "+79158888888" class="tel">{{contact.tel}}</a>
						</div>
					</div>
					<div class="row">
						<div class="col-lg col-md-12 col-sm-12 offset-lg-0 offset-md-3 offset-sm-3 offset-0 align-self-center">
							<div class="d-none d-sm-block">
								<button type="button" class="btn btn-primary btn-lg">Оставить заявку</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			
        	<nav class="d-flex navbar navbar-expand-lg navbar-dark" style="background-color: #245086;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="d-lg-none">
	        	    	<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
	               		<a class="h2">Акватория-05</a>
	            </div>
				<div class="container">
				<div class="row justify-content-between">        	
                <div class="collapse navbar-collapse justify-content-center" id="navbarsExample03">
        			<ul class="navbar-nav">
        				<li class = "nav-item">
		                	<a class="nav-link py-1 text-white" href="#">О КОМПАНИИ</a>
		                </li>
		                <li class = "nav-item">
		                	<a class="nav-link py-1 text-white" href="#">КАТАЛОГ УСЛУГ</a>
		                </li>
		                <li class = "nav-item">
		                	<a class="nav-link py-1 text-white" href="#">ГАЛЕРЕЯ ОБЪЕКТОВ</a>
		                </li>
		                <li class = "nav-item">
		                	<a class="nav-link py-1 text-white" href="#">ВОПРОС-ОТВЕТ</a>
		                </li>
		                <li class = "nav-item">
		                	<a class="nav-link py-1 text-white" href="#">РАССЧИТАТЬ СТОИМОСТЬ</a>
		                </li>
		                <li class = "nav-item">
		                	<a class="nav-link py-1 text-white" href="#">КОНТАКТЫ</a>
		                </li>
		        	</ul>
		        </div>
				</div>
				</div>
        	</nav>
			
        </header>


    {% block content %}{% endblock content %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
